.App {
  height: 100%;
  display: flex;
  flex-direction: column;

  .App__header {
    background: #3A80BA;
    height: 72px;

    .App__header-title {
      display: flex;
      align-items: center;
      width: 1180px;
      margin: auto;
      height: 100%;
      font-family: Montserrat;
      font-size: 40px;
      font-weight: 400;
      line-height: 49px;
      letter-spacing: 0em;
      text-align: left;
      color: #FFFFFF;
    }
  }

  .table-wrapper {
    width: 1180px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 60px;

    .table-wrapper__filter {
      width: 100%;
    }
  }
  
  .App__footer {
    background: #1C3B55;
    height: 57px;
    display: flex;
    justify-content: center;

    .App__footer-inscriptions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1180px;

      .App__footer-title {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF
      }
    }

  }
}